[BASIC]
# No docstring required for internal methods or unit tests
no-docstring-rgx=__.*
# x and y are perfect for coordinates
# to is valid name
good-names=i,j,k,ex,Run,_,x,y,to,it,op


[MESSAGES CONTROL]
# Disable since code is bound to be duplicated with many different
# implementations of the same thing
disable=duplicate-code
